<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/adminAlterarAniversariantes.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <title>Aniversariantes</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
      <div secao2>

        <form class="row g-3" action="/admin/aniversariantes/alterar" method="post" enctype="multipart/form-data" >
          <div class="col-6">
            <% aniversariantes.forEach(function(aniversariantes) { %>
            <input type="hidden" name="id" value="<%= aniversariantes.id%>">
            <label for="setor" class="form-label">Setor</label>
            <select name="setor" class="form-select">
              <option name="">ADMINISTRATIVO</option>
              <option name="">ALMOXARIFADO</option>
              <option name="">TECNOLOGIA DA INFORMAÇÃO</option>
              <option name="">LIMPEZA</option>
              <option name="">MECANICA DE MANUTENÇÃO</option>
              <option name="">ELETRICA</option>
              <option name="">ENCARREGADO DE PRODUÇÃO</option>
              <option name="">LIDER DE PRODUÇÃO</option>
              <option name="">OPERADOR DE PRODUÇÃO</option>
              <option name="">OPERADOR DE EMPILHADEIRA</option>
              <option name="">SOLDA</option>
              <option name="">SERVICOS GERAIS</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="dataAniversario" class="form-label">Data</label>
            <input type="date" class="form-control" value="<%=aniversariantes.dataAniversario %>" name="dataAniversario">
          </div>
          <div class="col-12">
            <label for="nome" class="form-label">Nome do colaborador</label>
            <input type="text" class="form-control" value="<%=aniversariantes.nome %>" name="nome"></input>
          </div>
          <div class="col-md-12">
            <label for="foto" class="form-label">Foto</label>
            <input type="file" class="form-control" value="<%= aniversariantes.foto %>" name="foto">
          </div>
          <div class="col-12">
            <center><button type="submit" class="btn btn-primary">Alterar</button></center>
          </div>
          <% }) %>
        </form>
      </div>
      <%- include('partials/footer') %>
      <script type="/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
